@import "tailwindcss";

/* =========================
   THEME VARIABLES
========================= */
:root {
  /* Couleurs principales */
  --color-bg: #ffffff;
  --color-text: #171717;

  /* Couleurs custom */
  --color-primary: #2d6a4f;
  --color-secondary: #f8f5f0;
  --color-accent: #ffd966;

  /* Bordures / UI */
  --color-border: #c9c2b6;
}

/* =========================
   DARK MODE
========================= */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0a0a0a;
    --color-text: #ededed;

    --color-primary: #40916c;
    --color-secondary: #1a1a1a;
    --color-accent: #ffcc00;

    --color-border: #444;
  }
}

/* =========================
   TAILWIND MAPPING
========================= */
@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);
}